.controller{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-auto-rows: minmax(60vh,auto);

}

.controller .buttons{
    display: flex;
    flex-direction: column;
    background: blue;
    color: white;
    border: 1px #ccc solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
    

    .controller{
        display: block;
    }

    .controller .buttons{
        flex-direction: row;  
        border-radius: 5px;
    }
  }

.controller .content{
    display: flex;
    flex-direction: column;
    padding:5px;
}

.controller .content input{
    padding:10px;
    border: 1px #ccc solid;
    border-radius: 5px;

}


.controller .buttons span{
    background: blue;
    color: white;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;

}

.controller .buttons span:hover{
    background: white;
    color: blue;
    margin: 5px;

}




.wrapper{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 1em ;
}

.wrapper div{
    background: #eee;
    padding: 1em;
}

.wrapper div:nth-child(odd){
    background: #ddd;
}

.wrapper2 {
    display: grid;
    /*grid-template-columns: 1fr 2fr 1fr;*/
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    /*grid-auto-rows: 100px;*/
    grid-auto-rows: min-content(100px,auto);
}

.wrapper2 div{
    background: #eee;
    padding: 1em;
}

.wrapper2 div:nth-child(odd){
    background: #ddd;
}

.nested-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 70px;
    gap:1em;
 
}

.nested-grid div{
    border: #333 1px solid;
    padding: 1em;
}







.wrapper3 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px,auto);
    gap:1em;
    justify-items: stretch;/*Horizontal*/
    align-items: stretch;/*Vertical*/
}

.wrapper3 div{
    background: #eee;
    padding: 1em;
}

.wrapper3 div:nth-child(odd){
    background: #ddd;
}

.box1{
    /*align-self: start;*/
    grid-column: 1/3;
    grid-row: 1/3;
}

.box2{
    /*align-self: end;*/
    grid-row: 1/3;
    grid-column: 3;
}

.box3{
    /*justify-self: end;*/
    grid-column: 2/4;
}

.box4{
    /*align-self: start;*/
    grid-column: 1;
    grid-row: 2/4;
}


